<html>
<head>
    <link rel="stylesheet" href="assets/main.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 - Page Not Found</title>
    <style>
        .item1 {
            padding-top: 75px;
            color: white;
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            display: block;
            position: relative;
            margin: 0;
        }
        .item2 {
            padding-top: 10px;
            color: white;
            text-align: center;
            font-size: 40px;
            display: block;
            position: relative;
            margin: 0;
        }
    </style>
</head>
<body>
    <p class="item1" align=center>404</p>
    <p class="item2" align=center>Page Not Found</p>
</body>
</html>